.glassPortion {
    display: inline-block;
    backdrop-filter: blur(4px);
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    /* left: 0;
    height: 100px;
    width: 100%;
    width: calc(var(--main-width) - 2px);
    left: 50%;
    transform: translateX(-50%); */
    background-color: #ffffffc0;
    z-index: 2;
    padding: 1rem;
}

.main {
    border-inline: 1px solid var(--border-color);
    /* height: 100vh;
    display: inline-block;
    overflow: scroll;
    scrollbar-width: none; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* .main::-webkit-scrollbar {
    display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
/* .main {
    -ms-overflow-style: none;
   
    scrollbar-width: none;
 
} */