.tweet {
    border-bottom: 1px var(--border-color) solid;
    gap: .5rem;
    padding: .5rem 1rem;
    width: 100%;
}

.tweet:hover {
    background-color: var(--bg-hover);
}

.tweetInner{
    display: flex;

}

.img {
    width: 70px;
    aspect-ratio: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px var(--border-color) solid;
    border-radius: 50%;


}

.image{
    margin-right: .5rem;
}
.body {
    width: 100%;
    position: relative;
}


.header {
    /* height: 30px; */
    display: flex;

    align-items: baseline;
    justify-content: space-between;
    width: 100%;
}
/* .header {
display: grid;
grid-template-columns: 1fr 25px;
} */

.day.day {
    font-size: 1rem;

}

.username.username {
    display: inline-block;
    height: 100%;
    width: 40%;
    overflow: hidden;
    text-align: center;
    transform: translate(0%, 15%);

    text-overflow: ellipsis;
    white-space: nowrap;
}

.mainTweet {
    font-size: 1rem;
    max-width: 95%;
    /* overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    max-lines: 2; */
    white-space: pre-wrap;        
   white-space: -moz-pre-wrap;
   white-space: -pre-wrap;    
   white-space: -o-pre-wrap;   
   word-wrap: break-word;     


}
/* .mainTweet>p{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
} */

.tweetImg {
    margin-top: .5rem;
    width: 100%;
    text-overflow: ellipsis;
}

.tweetImg>img {
    border-radius: 1rem;
    max-width: 100%;
    max-height: 70vh;
}

.likeNcommnet {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 80%;
}


.likeNcommnet>div {
    display: flex;
    width: 20%;
    margin-block: .5rem;
    align-items: flex-start;
    align-items: center;
    cursor: pointer;
}

.likeNcommnet>div>svg {
    box-sizing: content-box;
    width: 1.5rem;
    padding: .5rem;
    margin-right: .3rem;
}

.name {
    font-weight: 700;
    /* margin-right: .3rem; */

}
.names{
   margin-bottom: 1rem;
}
.names>* {
    font-size: 1.2rem;
    margin-right: .3rem;
}

.username {
    color: var(--text-color-tertiary);
}

.threeDot {
    color: var(--text-color-tertiary);
    fill: currentColor;
    display: inline-block;
    width: 25px;
}

.likes:hover {
    color: crimson;
    fill: crimson;


}

.likes:hover>svg {
    background-color: rgba(220, 20, 60, 0.253);
    border-radius: 1000000px;

}
.retweet:hover {
    color:rgb(28, 193, 137);
    fill: currentColor;
    /* background-color: var(--hover-primary-trans-color);
    border-radius: 1000000px; */
}


.retweet:hover>svg {
    background-color:rgba(28, 193, 138, 0.25);
    border-radius: 1000000px;

}


.comments:hover {
    color: var(--primary-color);
    fill: currentColor;
    /* background-color: var(--hover-primary-trans-color);
    border-radius: 1000000px; */
}


.comments:hover>svg {
    background-color: var(--hover-primary-trans-color);
    border-radius: 1000000px;

}


.likedPost {
    color: rgb(255, 0, 0);
    fill: rgb(255, 0, 0);


}

.likedPost>svg {
    background-color: rgba(255, 0, 0, 0.267);
    border-radius: 1000000px;

}

.date{
    margin-block: .8rem;
}



.wrapper {
    display: flex;
    /* position: relative; */
    align-items: center;
    overflow: hidden;
    justify-content: center;
    max-width: 100%;
    min-height: 110px;
    border-radius: 1rem;
    border: 1px var(--border-color-2) solid;
  }


.commentsList{
    /* margin-left: 1rem; */
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid var(--border-color);
    /* animation: grow 300ms ease-in    ; */
}
.commentsList:hover{
    background-color: var(--bg-hover);
}
.commentsList>h2{
    margin-block: 1rem;
}
.commentsList>div{
    border: 1px solid var(--border-color-2);
    border-radius: 1rem;

}
@keyframes grow {
    0%{
        height: 0;
    }
    100%{
        height: fit-content;
    }
    
}